.footer-icons-group {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 30px;
}

.footer-icon {
    transition: transform 0.2s;
}

.footer-icon:hover {
    transform: scale(1.3);
}

.footer-icon svg {
    color: white;
    transition: color 0.2s ease;
}

.footer-icon:hover svg {
    color: rgb(28, 126, 214);
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}