.nav-container {
    position: fixed;
    z-index: 2;
    background: transparent;
}

/* Main modal container */
.mantine-Modal-modal {
    position: fixed !important;
    left: 50px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 300px !important;
    height: auto !important;
    margin-left: 0 !important;
    background: transparent !important;
    backdrop-filter: none;
    transition: all 0.3s ease-in-out;
}

/* Modal header and title */
.mantine-Modal-header {
    margin: 0 !important;
    padding: 0 !important;
}

.mantine-Modal-title {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    width: 100% !important;
    min-height: 30px !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Navigation content */
.mantine-Modal-body {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    margin-top: 5px !important;
    padding: 0 !important;
}

/* Add hover effect for navigation links */
.nav-link:hover {
    color: rgb(28, 126, 214) !important;
    transition: color 0.3s ease;
}

/* Make sure the hover effect applies to the text inside the link */
.nav-link:hover .mantine-Group-root {
    color: rgb(28, 126, 214);
}