<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Swarm Map</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/gh/jscastro76/threebox@v.2.2.7/dist/threebox.min.js"
        type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/gh/jscastro76/threebox@v.2.2.7/dist/threebox.css" rel="stylesheet" />
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = '';

        var origin = [-81.049, 29.189, 50];

        // Initialize a map
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/standard',
            center: origin,
            pitch: 70,
            bearing: 0,
            zoom: 16.5,
            antialias: true
        });

        // Add full screen controls to the map.
        map.addControl(new mapboxgl.FullscreenControl());
        // Add zoom and rotation controls to the map.
        map.addControl(new mapboxgl.NavigationControl());

        // Add geolocate control to the map.
        map.addControl(new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true
        }));
        
        // Add a drone to the map.
        map.on('style.load', function () {
            map.addSource('mapbox-dem', {
                'type': 'raster-dem',
                'url': 'mapbox://mapbox.terrain-rgb'
            });

            map.setTerrain({
                'source': 'mapbox-dem',
                'exaggeration': 1.5
            });

            map.addLayer({
                id: 'custom_layer',
                type: 'custom',
                renderingMode: '3d',
                onAdd: function (map, mbxContext) {

                    window.tb = new Threebox(
                        map,
                        mbxContext,
                        {
                            defaultLights: true,
                            enableSelectingFeatures: true,
                            enableSelectingObjects: true,
                            enableDraggingObjects: true,
                            enableRotatingObjects: true,
                            enableTooltips: true
                        }
                    );

                    // Change drones to an object
                    let drones = {};

                    // Update drone positions every 100 mili-second
                    setInterval(function () {
                        fetch('http://localhost:8050/info')
                            .then(response => response.json())
                            .then(data => {
                                let newDrones = {};
                                let newCoords = data.droneCoords; // Get the new coordinates from the server
                                let droneNames = data.droneNames; // Get the drone names from the server
                                let dronePitch = data.dronePitch; // Get the drone pitch from the server
                                let droneYaw = data.droneYaw; // Get the drone yaw from the server
                                let droneRoll = data.droneRoll; // Get the drone roll from the server

                                for (let i = 0; i < newCoords.length; i++) {
                                    let name = droneNames[i];
                                    let coords = newCoords[i][0].split(',').map(Number); // Split the string into an array of numbers

                                    if (drones[name]) {
                                        // Update existing drone
                                        drones[name].setCoords(coords);
                                        newDrones[name] = drones[name];
                                    } else {
                                        // Add new drone
                                        var options = {
                                            obj: '../assets/drone.glb',
                                            type: 'gltf',
                                            scale: 0.5,
                                            units: 'meters',
                                            rotation: { x: dronePitch[i], y: droneYaw[i], z: droneRoll[i] }, // Use the numbers for rotation                              
                                        }

                                        tb.loadObj(options, function (model) {
                                            let drone = model.setCoords(coords);
                                            drone.name = name; // Set the name of the drone

                                            // Add a tooltip to the drone
                                            drone.addTooltip('Drone ' + name + ': (' + coords.join(', ') + ')', true);

                                            // Start the animations
                                            if (model.children[0].animations && model.children[0].animations.length > 0) {
                                                drone.mixer = new THREE.AnimationMixer(model.children[0]);
                                                drone.action = drone.mixer.clipAction(model.children[0].animations[0]);
                                                drone.action.play();
                                            }

                                            tb.add(drone);
                                            newDrones[name] = drone;
                                        });
                                    }
                                }

                                // Remove drones that no longer exist
                                for (let name in drones) {
                                    if (!newDrones[name]) {
                                        tb.remove(drones[name]);
                                    }
                                }

                                // Replace the current drones object with the updated one
                                drones = newDrones;
                            });
                    }, 100);
                }, render: function (gl, matrix) {
                    tb.update();
                }
            });
        })
    </script>
</body>

</html>